header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 10px 10px 10px 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}

nav h1{
    margin: 10px 10px 10px 10px;
    font-family: 'Courier New';
}

nav ul{
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul li {
    list-style-type: none;
    display: flex;
    margin: 10px;
}

nav div {
    display: flex;
    align-items: center;
}

nav div img {
    margin: 10px 10px 10px 10px;
    width: 25px;
    height: 25px;
}

main {
    padding: 70px;
    background-color: rgb(230, 229, 228);
}

.a {
    background-image: url("./assets/1.jpg");
    background-size: 100%;
    grid-area: a;
}
.b {
    height: 20em;
    background-image: url("./assets/2.jpg");
    background-size: 100% 100%;
    grid-area: b;
}
.c {
    background-image: url("./assets/3.jpg");
    background-size: 100%;
    grid-area: c;
}
.d {
    background-image: url("./assets/4.png");
    background-size: 100%;
    grid-area: d;
}
.e {
    background-image: url("./assets/5.jpeg");
    background-size: 100%;
    grid-area: e;
}


.articles {
    display: grid;
    gap: 15px;
    grid-template-areas: "a b c"
                         "d b e";
}

.content {
    border-style: dotted;
    border-radius: 10px;
    background-color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(201, 38, 38);
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

.content span {
    color: black;
    font-size: 0.75em;
}

.content header {
    font-size: 1.2em;
    color: brown;
}

.content .tags {
    margin-bottom: 10px;
}

.content .tags .tag {
    font-size: small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
    background-color: blue;
    margin-right: 10px;
    padding: 4px 4px 4px 4px;
    color: white;
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: end;
}